.controls-wrapper {
  display: flex;
  flex-flow: row nowrap;
  max-width: fit-content;
  background-color: white;
  color: var(--color-text-dark);
  border-radius: var(--border-radius);
  gap: 2rem;
  padding: 1rem;
}
