/* ========================== */
/*          VARIABLES         */
/* ========================== */

:root {
  --color-header: #0b0500;
  --color-footer: #0b0500;
  --color-background: black;
  --color-text-dark: black;
  --color-text-light: #faf9f6;
  --line-GR: #38b000;
  --line-RD: #d90429;
  --line-OR: #fb6107;
  --line-YL: #ffd700;
  --line-SV: #b2b4b2;
  --line-BL: #3772ff;
  --border-radius: 0.5rem;
}

/* ========================== */
/*      GENERAL STYLES        */
/* ========================== */

body {
  font-family: "Helvetica Neue", -apple-system, sans-serif;
  color: var(--color-text-light);
  background-color: var(--color-background);
  margin: 0;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-flow: column;
  padding: 0;
}

button {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  text-transform: uppercase;
}
button:hover {
  background-color: #eee;
}

.btn-dark {
  background-color: #222;
  color: var(--color-text-light);
}
.btn-dark:hover {
  background-color: #333;
}
.btn-dark.line-GR:hover {
  background-color: var(--line-GR);
  color: var(--color-text-light);
}
.btn-dark.line-RD:hover {
  background-color: var(--line-RD);
  color: var(--color-text-light);
}
.btn-dark.line-BL:hover {
  background-color: var(--line-BL);
  color: var(--color-text-light);
}
.btn-dark.line-OR:hover {
  background-color: var(--line-OR);
  color: var(--color-text-dark);
}
.btn-dark.line-YL:hover {
  background-color: var(--line-YL);
  color: var(--color-text-dark);
}
.btn-dark.line-SV:hover {
  background-color: var(--line-SV);
  color: var(--color-text-dark);
}
.btn-dark.selected {
  pointer-events: none;
  background-color: var(--color-background);
}

[hidden] {
  display: none !important;
}

/* ========================== */
/*        HEADER & NAV        */
/* ========================== */

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

header h1 {
  color: var(--color-text-light);
  margin: 0;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* ========================== */
/*         OTHER STYLES       */
/* ========================== */

@media screen and (max-width: 668px) {
}
